################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cartao/.vs
/Cartao/bin/Debug/net8.0-windows
/Cartao/obj
/ExtrairTexto2
/ExtrairTexto
/Cartao/bin/Release/net8.0-windows
